.widget-content .image-preview-wrap img {
    max-width: 100%;
    margin: 20px auto 0;
}

div#setting-error-infinity-blog {
    width: 100%;
    max-width: 870px;
    clear: both;
}
/*Customizer CSS*/
.customize-control-checkbox input[type=checkbox] {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 40px;
    height: 14px;
    border-radius: 8px;
    background: #ccc;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: background 350ms ease;
}

.customize-control-checkbox input[type=checkbox]:before,
.customize-control-checkbox input[type=checkbox]:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -3px;
    transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
}

.customize-control-checkbox input[type=checkbox]:before {
    background: rgba(0, 0, 0, 0.2);
    transform: translate3d(0, -50%, 0) scale(0);
}

.customize-control-checkbox input[type=checkbox]:after {
    background: #999;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -50%, 0);
}

.customize-control-checkbox input[type=checkbox]:checked:before {
    background: rgba(52, 152, 222, 0.075);
    font-size: 0;
    line-height: 1px;
    transform: translate3d(100%, -50%, 0) scale(1);
}

.customize-control-checkbox input[type=checkbox]:checked:after {
    background: #3498DE;
    transform: translate3d(100%, -50%, 0);
}

.customize-control-radio-image input {
    vertical-align: top;
    margin-top: 13px;
    margin-right: 5px;
    display: none;
}

.customize-control-radio-image input:checked + span img {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #3498DB;
}

.customize-control-radio-image img {
    width: 80px;
    height: inherit;
}

body #customize-controls .control-section-upsell .accordion-section-title {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB) !important;
    -webkit-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    background-size: 400% 400% !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, calc(100% - 10px) 100%, 0 100%);
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, calc(100% - 10px) 100%, 0 100%);
    color: #fff !important;
    margin: 0;
    padding: 30px 15px;
}

body #customize-controls .control-section-upsell .accordion-section-title:hover,
body #customize-controls .control-section-upsell .accordion-section-title:focus {
    background-color: #fff;
}

body .control-section-upsell .accordion-section-title .button {
    margin-top: -4px;
    font-weight: 700;
    margin-left: 8px;
    background-color: #CDDC39;
    border-color: #CDDC39;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    color: #fff;
}

body .control-section-upsell .accordion-section-title .button:hover {
    border-color: #50e3c2;
    background-color: #50e3c2;
}

body #accordion-section-theme_upsell {
    display: block !important;
}

@-webkit-keyframes Gradient {
    0%, 100% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
}

@keyframes Gradient {
    0%, 100% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
}

/*--------------------------------------------------------------
# Meta
--------------------------------------------------------------*/
#infinity-blog-theme-settings .inside {
    margin: 0 auto;
    padding: 0;
}

#infinity-blog-theme-settings .handlediv {
    position: relative;
    z-index: 1;
}

#infinity-blog-theme-settings h2.hndle {
    background-color: #f3f5f6;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #e2e4e7;
}

#infinity-blog-theme-settings .infinity-meta-panels .infinity-opt-wrap{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.infinity-tab-main {
    background-color: #fbfbfb;
    position: relative;
}

.infinity-tab-main .infinity-metabox-tab {
    display: block;
    position: relative;
    z-index: 10;
    float: left;
    width: 225px;
}

.infinity-metabox-tab ul {
    clear: left;
    margin: 0;
    list-style-type: none;
}

.infinity-metabox-tab ul li {
    margin-bottom: 0;
}

.infinity-metabox-tab ul li a {
    font-size: 13px;
    position: relative;
    display: block;
    font-weight: 600;
    padding: 15px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid rgba(136, 134, 134, 0.12);
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.infinity-metabox-tab ul li a:hover,
.infinity-metabox-tab ul li a:focus {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.infinity-metabox-tab ul li a:hover,
.infinity-metabox-tab ul li a:focus {
    color: #fff;
    background: #3473e4;
}

.infinity-metabox-tab ul li a.twp-tab-active {
    color: #fff;
    background: #3062ff;
}

.infinity-metabox-tab ul li a.twp-tab-active:after {
    content: "";
    position: absolute;
    right: -1px;
    top: 50%;
    height: 0;
    width: 0;
    pointer-events: none;
    border: solid transparent;
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -10px;
}

.infinity-tab-main .infinity-tab-content {
    background-color: #fff;
    position: relative;
    margin-left: 225px;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.infinity-tab-content .twp-content-wrap {
    display: none;
}

.infinity-tab-content .twp-content-wrap.infinity-tab-content-active {
    display: block;
}

.infinity-tab-content .twp-meta-title {
    border-bottom: 1px solid #e8e8e8;
    font-weight: 300;
    padding: 20px;
    margin: 0 auto;
    font-size: 32px;
}

.infinity-meta-panels .infinity-opt-wrap {
    padding: 20px;
    margin: 0 auto;
}

.infinity-meta-panels .infinity-opt-wrap:hover,
.infinity-meta-panels .infinity-opt-wrap:focus {
    background-color: #f9f9f9;
}

.infinity-opt-wrap {
    display: table;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-bottom: 1px solid #e8e8e8;
}

.infinity-opt-wrap-alt label {
    width: 220px;
}

.infinity-opt-wrap-alt label,
.infinity-opt-wrap textarea,
.infinity-opt-wrap select,
.infinity-opt-wrap input[type="text"] {
    display: table-cell;
    vertical-align: middle;
}

.infinity-opt-wrap textarea,
.infinity-opt-wrap select,
.infinity-opt-wrap input[type="text"] {
    border-color: #E2E6EC;
    width: 400px;
    padding-left: 15px;
    padding-right: 15px;
}

.infinity-opt-wrap input[type="text"],
.infinity-opt-wrap select {
    height: 45px;
    line-height: 45px;
}

.infinity-opt-wrap textarea {
    padding-top: 10px;
    padding-bottom: 10px;
}

.twp-checkbox-wrap {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
}

.twp-checkbox-wrap label {
    padding: 12px 0 12px 40px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}

.twp-checkbox-wrap label:after {
    width: 22px;
    height: 22px;
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.twp-checkbox-wrap input:checked ~ label {
    color: #000;
}

.twp-checkbox-wrap input:checked ~ label:after {
    background-color: #54E0C7;
    border-color: #54E0C7;
}

.twp-checkbox-wrap input {
    width: 22px;
    height: 22px;
    order: 1;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}